<div class="post">
    <div class="post-title">
        <h1>
            {{post.title}}
        </h1>
        <p>
            {{ format_time post.createdAt}}
        </p>
    </div>
    <div class="post-content">
        <p>
            {{post.content}}
        </p>
    </div>
</div>

{{#each comments as |comment|}}
    <div class="comments">
       <div class="comment-user">
           <p>
                {{comment.user_id}}
           </p>
       </div>
       <div class="comment-content">
            <p>
                {{comment.content}}
            </p>
       </div>
    </div>
{{/each}}

<button type="button" class="btn btn-primary" value="comment">Comment</button>